body
{
	width: 100%;
	height: 100%;
	
	background-color: #222222;
	color: #EEEEEE;
}

.lol
{
	width: 640px;
	height: 480px;
	
	margin-top: calc(25% - 240px);
	margin-left: calc(50% - 320px);
}