<nav class="navbar navbar-expand-lg">
	<div class="navbar-content">
		<!-- Site title -->
		<button type="button" id="theme-button" class="btn navbar-brand">jvernon.net</button>

		<!-- Hamburger menu -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar content container -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Left side content -->
			<ul id="navitemlist" class="navbar-nav mr-auto">
				<!-- Home -->
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>

				<!-- Games -->
				<li class="nav-item">
					<a class="nav-link" href="/games/">Games</a>
				</li>

				<!-- Websites -->
				<li class="nav-item">
					<a class="nav-link" href="/websites/">Websites</a>
				</li>

				<!-- Contact -->
				<li class="nav-item">
					<a class="nav-link" href="/contact/">Contact</a>
				</li>
			</ul>

			<!-- Right side content -->
			<!-- YouTube link -->
			<a class="btn btn-outline-danger socialbtn" target="_blank" href="https://www.youtube.com/channel/UCiZsiO7Bei3vG1HHsyDTcIw">
				<i class="fab fa-youtube"></i>
			</a>

			<!-- Twitter link -->
			<a class="btn btn-outline-info socialbtn" target="_blank" href="https://twitter.com/jonathansvernon">
				<i class="fab fa-twitter"></i>
			</a>

			<!-- GitHub link -->
			<a class="btn btn-outline-secondary socialbtn" target="_blank" href="https://github.com/jonathansvernon">
				<i class="fab fa-github"></i>
			</a>
		</div>
	</div>
</nav>

<script src="/assets/scripts/navigation_bar.js"></script>