body
{
	margin: 0;
}

/* Sidebar */
.ui-container
{
	padding: 24px;

	position: absolute;
	height: 100%;

	background-color: #444444;
}

.ui-button
{
	width: 76px;
	height: 76px;

	margin-bottom: 24px;

	background-size: cover;
	background-image: url("./icons/button.png");
	image-rendering: pixelated;
}

.ui-button:hover
{
	background-image: url("./icons/button_hover.png");
}

.ui-button > img
{
	width: 100%;
	height: 100%;

	image-rendering: pixelated;
}
