:root
{
	--mc-pic-opacity: 1;
}

[data-theme="dark"]
{
	--mc-pic-opacity: 0;
}

.featurette-image
{
	width: 100%;
	height: auto;
}

.image-container-cheat
{
	max-width: 100%;
	width: auto;
	height: auto;

	border: 0.0625rem solid var(--outline-color);
}

.mc-picture-container
{
	background-image: url("/assets/images/minecraft_0_night.png");
	background-size: cover;
}

#mc-picture
{
	opacity: var(--mc-pic-opacity);

	transition: opacity var(--transition-time);
}

.heading-below
{
	margin-top: 2rem;
}