.projects-list
{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}

.title-container
{
    text-align: center;
}

.project-container
{
    flex-basis: 20%;

    margin: 0 0.5rem 1rem 0.5rem;
    padding: 1rem;

    text-align: center;

    background-color: var(--card-background);
	border: 0.0625rem solid var(--outline-color);
    color: var(--card-text);

	transition: background-color var(--transition-time), color var(--transition-time);
}

.project-name
{
    margin-top: 0.5em;
}

.project-image
{
	height: 300px;

	border: 0.0625rem solid var(--outline-color);
}

/* MOBILE */
@media (max-aspect-ratio: 5/4)
{
	.project-container
	{
		flex-basis: 100%;

		max-width: 100%;
	}

	.project-image
	{
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
}