<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Brent Coles for Boise | jvernon.net</title>

		<style>
			body
			{
				background-color: black;
			}

			img
			{
				width: 95%;
				height: auto;

				padding: 2.5%;
			}
		</style>
	</head>
	<body>
		<img src="/assets/images/projects/websites/coles_for_boise/screenshot_0.png">
		<img src="/assets/images/projects/websites/coles_for_boise/screenshot_1.png">
		<img src="/assets/images/projects/websites/coles_for_boise/screenshot_2.png">
		<img src="/assets/images/projects/websites/coles_for_boise/screenshot_3.png">
		<img src="/assets/images/projects/websites/coles_for_boise/screenshot_4.png">
	</body>
</html>
