---
layout: default
---

{{ content }}

<div class="title-container">
	<h1>Contact</h1>
</div>

<div style="padding: 25px;"></div>

<div class="contact-info-container container marketing">
	<p class="lead">You can reach out to me by sending me an email at</p>
	<p class="lead"><i class="fas fa-envelope"></i><a>jonathansvernon@gmail.com</a></p>

	<div style="padding: 25px;"></div>

	<p class="lead">If you're contacting me informally, you can reach me using one of the social media accounts listed in the navigation bar.</p>
</div>