---
layout: default
---

{{ content }}

<div class="container marketing">
	<!-- About me -->
	<div class="row featurette">
		<!-- Text container -->
		<div class="col-md-7">
			<h2 class="featurette-heading">Hello! I'm Jonathan Vernon</h2>
			<p class="lead">
				I'm a software developer living in Boise, Idaho. 
				I'm a student at Boise State University, and am currently enrolled in their <a target="_blank" href="https://www.boisestate.edu/gimm/" style="font-weight: bold; font-style: italic;">Games, Interactive Media, and Mobile Technology</a> program.
				I've been programming for about nine years now, and am always looking forward to learning new things!
			</p>
		</div>
		<!-- Picture container -->
		<div class="col-md-5">
			<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" style="width: 500px; height: auto" src="/assets/images/its_me.png" data-holder-rendered="true">
		</div>
	</div>

	<hr class="featurette-divider">

	<!-- Where I started -->
	<div class="row featurette">
		<!-- Picture container -->
		<div class="col-md-5">
			<div class="mc-picture-container">
				<img id="mc-picture" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" style="width: 500px; height: auto" src="/assets/images/minecraft_0_day.png" data-holder-rendered="true">
			</div>
		</div>
		<!-- Text container -->
		<div class="col-md-7">
			<h2 class="featurette-heading">Where I started</h2>
			<p class="lead">
				When I was eleven years old, my best friend showed me a game called <a target="_blank" href="https://minecraft.gamepedia.com/Java_Edition_Beta_1.0" style="font-weight: bold; font-style: italic;">Minecraft</a>.
				When I discovered the large community of people creating modifications for the game, I knew that I wanted to learn how to program so I could join them.
				So I taught myself Java, and have since also learned to use other languages such as C#, JavaScript, Python, ActionScript 3, and C++.
			</p>
		</div>
	</div>
</div>